@config "../tailwind.config.js";
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fcfcfb;
  color: #1c1917;
  @apply antialiased;
}

@layer utilities {
  .text-stroke {
    -webkit-text-stroke: 1px currentColor;
  }
}
